@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

#image-slider {
    transition: filter 0.5s ease-in-out;
    filter: blur(0px);
}

#image-slider.fade-out {
    filter: blur(10px);
}